
body{
    background-color: #282626;
    display: flex;
    overscroll-behavior: none;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    overflow-x: hidden;
}
h1, h2, p{
    color: #FFFFFF;
}
.footer a{
    text-decoration: none;
    color: #fff;
}

.open{
    display: flex !important;
}

.menu{
    display: flex;
    justify-content: right;
    margin-right: 25px;
}
.menuToggleLink {
    position: fixed;
    z-index: 200;
    bottom: 20px;
    right: 20px;
}
.menuToggle {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: #8a71eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.menuToggle svg{
    transform: rotate(90deg);
}
.menu_ul{
    display: flex;
    list-style: none;
    justify-content: right;
}
.menu_li{
    padding: 10px 20px 5px 20px;
    font-family: 'Acherus Feral';
    height: 30px;
    font-size: 16px;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    color: #fff;
}

.menu_li:hover {
    transform: translateX(-7px) ;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #eef2fb,
    0 0 21px #e2e7ff,
    0 0 42px rgb(47, 0, 255),
    0 0 82px rgb(47, 0, 255),
    0 0 92px rgb(47, 0, 255),
    0 0 102px rgb(47, 0, 255),
    0 0 301px rgb(47, 0, 255);
}
.menu_li a:hover {
    transform: translateX(-7px) ;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #eef2fb,
    0 0 21px #e2e7ff,
    0 0 42px rgb(47, 0, 255),
    0 0 82px rgb(47, 0, 255),
    0 0 92px rgb(47, 0, 255),
    0 0 102px rgb(47, 0, 255),
    0 0 301px rgb(47, 0, 255);
}

.menu_li a{
    text-decoration: none;
    color: #fff;
}
.logo{
    width: 60px;
    height: 60px;
    float: right;
}

.burger{
    display: none;
    margin: 25px;
    position: relative;
    z-index: 50;
    align-items: center;
    width: 30px;
    height: 18px;
}

.burger span{
    position: absolute;
    z-index: 50;
    height: 2px;
    background-color: #fff;
    width: 100%;
}

.burger::after, .burger::before{
    position: absolute;
    z-index: 50;
    content: '';
    height: 2px;
    background-color: #fff;
    width: 100%;
    transition: all 0.3s ease 0s;
}
.burger::after{
    bottom: 0;
}
.burger::before{
    top: 0;
}

/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


.body{
    position: relative;
}
.title{
    font-family: 'SF UI Display';
    font-weight: 500;
    line-height: 40px;
    font-size: 200px;
    margin-left: 50px;
    margin-top: 70px;
}
.body p{
    font-family: 'Microsoft Yi Baiti';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    margin-top: -60px;
    margin-left: 56px;
}
.d1{
    z-index: -5;
    position: absolute;
    top: -50px;
    left: 820px;
    width: 600px;
    height: 600px;
    background: #663CDF;
    filter: blur(120px);
    animation-name: move_purple;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.d2{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 650px;
    top: 300px;
    border-radius: 50%;
    background: #54F26D;
    filter: blur(50px);
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.me{
    margin-top: 300px;
    height: fit-content;
}
.me img{
    max-width: 100%;
    position: relative;
}
.text{
    display: flex;
    justify-content: space-around;
}
.text_1{
    display: flex;
    text-align: center;
    margin: 30px;
    max-width: 33%;
    height: fit-content;
    height: 300px;
    font-family: 'SF UI Display';
    font-size: 18px;
}

.portf{
    position: relative;
    width: 100%; 
    height: fit-content;
}
.slick-carousel{
    position: relative;
    margin: 10px;
}
.slick-carousel .next{
    position: absolute;
    top: 50%;
    right: 0;
    color: #FFFFFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 10;
    background-image: url("..//иконки/arr_circle.png");
    background-repeat: no-repeat;
    background-size: 35px;
    transform: rotate(90deg);
}
.slick-carousel .prev{
    position: absolute;
    top: 50%;
    left: 0;
    color: #FFFFFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 10;
    background-image: url("..//иконки/arr_circle.png");
    background-repeat: no-repeat;
    background-size: 35px;
    transform: rotate(-90deg);
}
.box img{
    width: 400px;
    height: 600px;
}
.d3{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 670px;
    top: 170px;
    z-index: -10;
    background: #D448F8;
    filter: blur(190px);
}
.d4{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 390px;
    top: 590px;
    z-index: -10;
    background: #3795EC;
    filter: blur(90px);
}
.portf_t{
    font-family: 'SF UI Display';
    font-weight: 500;
    font-size: 200px;
    margin: 0px 0px 0px 50px;
    
}
.p_t{
    font-family: 'Microsoft Yi Baiti';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    margin: 0px 0px 20px 56px;
}


.pic{
    z-index: 30;
    position: absolute;
    right: 40px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(180deg);
    }
}

@keyframes moving {
    0% {
        transform:translate(-20px)skew(20deg, -40deg);
    }
    100% {
        transform:translate(20px)skew(-30deg, 40deg);
    }
}
@keyframes move_purple {
    0% {
        transform:translate(-50px)scale(1.5);
    }
    100% {
        transform:translate(20px)scale(0.5);
    }
}


@media (max-width: 1200px){
    .menu_li a{
        text-decoration: none;
        color: #fff;
        padding: 5px 8px 5px 8px;
        font-family: 'Acherus Feral';
        height: 25px;
        font-size: 14px;
        transition: all 0.3s ease-out;
        border-radius: 5px;
    }
    .menu_li{
        padding: 5px 8px 5px 8px;
        display: flex;
        justify-self: center;
    }
    .menuToggle{
        width: 35px;
        height: 35px;
    }

    .menuToggle svg{
        width: 35px;
        height: 35px;
    }
    .title{
        font-family: 'SF UI Display';
        font-size: 150px;
    }
    .body p{
        font-family: 'Microsoft Yi Baiti';
        font-style: normal;
        font-size: 40px;
    }
    .d1{
        z-index: -5;
        position: absolute;
        top: -50px;
        left: 650px;
        width: 600px;
        height: 600px;
        background: #663CDF;
        filter: blur(120px);
    }
    .d2{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 500px;
        top: 300px;
        border-radius: 50%;
        background: #54F26D;
        filter: blur(50px);
    }
    .text_1{
        font-size: 16px;
        margin: 20px;
    }
    .portf{
        height: 850px;
    }
    .portf_t{
        font-family: 'SF UI Display';
        font-size: 150px;
    }
    .portf p{
        font-family: 'Microsoft Yi Baiti';
        font-size: 40px;
    }
    .d3{
        top: 50px;
        width: 600px;
        height: 600px;
        left: 570px;
        filter: blur(170px);
    }
    .d4{
        width: 250px;
        height: 250px;
        left: 340px;
        top: 490px;
        filter: blur(90px);
    }
    .box img{
        position: relative;
        margin: 15px;
        height: 500px;
        width: 333px;
        
    }
}

@media (max-width: 1024px){
    .box img{
        width: 267px;
        height: 400px;
        margin: 10px;
    }

}

@media(max-width:992px){
    .title{
        font-size: 120px;
    }
    .body p{
        font-size: 30px;
    }
    .d1{
        left: 500px;
        width: 500px;
        height: 500px;
        background: #663CDF;
        filter: blur(120px);
    }
    .d2{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 390px;
        top: 300px;
        border-radius: 50%;
        background: #54F26D;
        filter: blur(78px);
    }
    .me img{
        max-width: 140%;
        position: relative;
    }
    .text_1{
        margin: 15px;
        font-family: 'SF UI Display';
        font-size: 16px;
    }
    .portf{
        height: 830px;
    }
    .portf_t{
        font-size: 120px;
    }
    .portf p{
        font-size: 30px;
    }
    .box img{
        margin: 15px;
        height: 500px;
        width: 333px;
    }
    .d3{
        top: 50px;
        width: 450px;
        height: 450px;
        left: 570px;
        filter: blur(120px);
    }
    .d4{
        width: 200px;
        height: 200px;
        left: 340px;
        top: 410px;
        filter: blur(60px);
    }
}
@media(max-width:767px){
    .burger { 
        display: flex;
        position: fixed;
    }

    .menu_ul{
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: -10px; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #282626;
        row-gap: 15px;
        animation: burgerAnimation 0.4s;
    }

    .text_1{
        height: fit-content;
        font-size: 13px;
    }

    .body p{
        margin-top: 15px;
        z-index: 10;
        position: absolute;
    }

    .portf p{
        margin-top: 3px;
        font-size: 30px;
    }

    .d1{
        z-index: -5;
        position: absolute;
        top: -50px;
        left: 400px;
        width: 450px;
        height: 450px;
        background: #663CDF;
        filter: blur(100px);
    }
    .d2{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 200px;
        top: 300px;
        border-radius: 50%;
        background: #54F26D;
        filter: blur(50px);
    }

    .d3{
        top: 50px;
        width: 450px;
        height: 450px;
        left: 510px;
        filter: blur(100px);
    }
    .d4{
        width: 200px;
        height: 200px;
        left: 160px;
        top: 480px;
        filter: blur(60px);
    }

    .box img{
        width: 300px;
        height: 450px;
    }
}

@media(max-width:620px){
    .text_1{
        font-family: 'SF UI Display';
        font-size: 14px;
    }
    
    .box img{
        width: 400px;
        height: 600px;
    }
    .portf{
        height: 900px;
    }

    .d3{
        top: 50px;
        width: 450px;
        height: 450px;
        left: 310px;
        filter: blur(100px);
    }
    .d4{
        width: 300px;
        height: 300px;
        left: 10px;
        bottom: 20px;
        filter: blur(60px);
    }
}

@media(max-width:425px){
    
    .title_h1{
        z-index: 10;
        padding-top: 150px;
    }
    .title{
        font-size: 90px;
        margin: 15px;
        line-height: 70px;
    }
    .d1{
        z-index: -10;
        top: -50px;
        left: 180px;
        filter: blur(120px);
    }
    .d2{
        position: absolute;
        z-index: -10;
        width: 250px;
        height: 250px;
        left: 30px;
        top: 400px;
        filter: blur(80px);
    }

    .body p{
        margin: 15px;
    }

    .menuToggle{
        width: 35px;
        height: 35px;
    }

    .menuToggle svg{
        width: 35px;
        height: 35px;
    }

    .me img{
        max-width: 160%;
    }
    .text_1{
        max-width: 50%;
    }
    .text{
        flex-wrap: wrap;
    }
    .portf{
        height: 700px;
    }
    .portf_t{
        font-size: 90px;
        margin: 15px;
        line-height: 70px;
    }
    .p_t{
        margin: 15px;
    }
    .box img{
        width: 267px;
        height: 400px;
    }
    .d4{
        width: 200px;
        height: 200px;
        left: 10px;
        filter: blur(50px);
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}


